
configurationapp/.project
configurationapp/.classpath
configurationapp/target/classes/application.properties
configurationapp/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
configurationapp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
